*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    position: relative;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
    cursor: pointer;
}

.nav-links{
    padding: 28px 0;
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 0;
}

.nav-links li a::after{
    content: '';
    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;

}

.nav-links li a:hover::after{
    width: 100%;
    
}
.btn{
    color: white;
    background: #ff3d00;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}
.content{
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 9000px;
    transform: translate(-50%);
    text-align: center;
    color: white;
    padding-top: 50px;
}
.content h1{
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 40px;
}
.content form{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    display: flex;
}
.content form input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
}
.content form button{
    background-color: #ff3d00;
    color: white;
    padding: 15px 40px;
    border-radius: 6px;
    cursor: pointer;
}


.category-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

}
.category{
    width: 80px;
    height: 80px;
    background: rgba(255, 61, 0, 0.15);
    margin: 0 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.category img{
    width: 25px;
    margin-bottom: 5px;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }

}


@media(max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }

}